<!-- Header of Screen with height 100vh and description box in container
    with text-box in col-8 col-4 for desktop col-7 and col-5 for small laptops and col-12 for mobiles --> 
<header class="container-fluid" id="header">
    <article class="container">
        <div class="row">
            <section class="col-lg-8 col-md-7 col-12" id="header-left"> 
                    <div class="type-wrap">
                        <h2>Growing a need for non-traditional<br></h2>
                        <div id="typed-strings" >
                        </div>
                        <span id="typing"></span>

                        <div class="bold-underline"></div>
                        <p id="heading-para">The traditional teaching approaches are generally teacher-directed and follow cookbook 
                                steps of activities and demonstrations. This approach may not provide students with 
                                valuable skills or even with a body of knowledge that lasts much beyond the end of the term.</p>
                    </div>
            </section>
            <section class="col-lg-offset-1 col-lg-4 col-md-5 col-12">
                <div id="header-right">
                    <img src="../../../assets/built.png" class="img-fluid built-image">
                    <div id="header-right-detail">
                        <h4>Our Pofile </h4>
                        <p>Think2Built is on the path of establishing itself as a leader in providing low cost 
                        automation solutions to world and experiential learning tools to students and 
                        institutions by using Robotics and Embedded System.</p> 
                        <button class="btn btn-1 btn-1a">Download</button>   
                    </div>
                </div>   
            </section>
        </div>
    </article>
</header>

<!-- Services of Screen with min-height 100vh and two rows upper head section and
     item row in col-4 for desktop col-6 for small laptops and col-12 for mobiles --> 

<article id="services" class="container">
    <section class="row text-center" id="service-head">
        <div class="col-12">
            <h1>SERVICES</h1>
            <p class="text-muted">We make your dreams and ideas possible.</p>
        </div>
    </section>
    <section class="row text-center" id="service-content">
        <div  class="col-md-4 col-sm-6 col-12" id="service-card">
            <div class="service-card-head" id="service-card-head">
                <i class="fa fa-adjust fa-4x"></i>
            </div>
            <div class="service-card-tile">
                <h3>Demo Workshop</h3>
                <p class="text-muted">One time Experience. Feel the heat of this advance set of Building Block as the Strength of your further development.It is a process of learninig with Fun.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="service-card-head">
                <i class="fa fa-calendar fa-4x"></i>
            </div>
            <div class="service-card-tile">
                <h3>Workshop Event</h3>
                <p class="text-muted">A one to four days Creation intensive is at the heart of our process.You will gain extensive practice in Prototype and a deeper understanding of how to make your imagination lead your real world.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="service-card-head">
                <i class="fa fa-rocket fa-4x"></i>
            </div>
            <div class="service-card-tile">
                <h3>Robotics World</h3>
                <p class="text-muted">Think2Built Retreat places off-campus or outside of your workplace. We spend time practicing the methodology and engaging in exercises and games in empathy, listening, communication, and mindfulness.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="service-card-head">
                <i class="fa fa-graduation-cap fa-4x"></i>
            </div>
            <div class="service-card-tile">
                <h3>Charge Lab</h3>
                <p class="text-muted">ChargeLab is a Activity Based Learning (ABL) laboratory comprising of advanced robots which can be used in experiments by the students in a comfortable school environment.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="service-card-head">
                <i class="fa fa-credit-card fa-4x"></i>
            </div>
            <div class="service-card-tile">
                <h3>T2B Store</h3>
                <p class="text-muted">Store works fundamentally on challanges the way businesses and industries operate robotics and embedded at a measurable value for our clients and society </p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="service-card-head">
                <i class="fa fa-book fa-4x"></i>
            </div>
            <div class="service-card-tile">
                <h3>Educate Community</h3>
                <p class="text-muted">Experiential learning component of education provider that helps students to learn the necessary skills, attitudes and knowledge required to practice effectively in their field.</p>
            </div>
        </div>
        
    </section>
</article>

<article id="event">
    <div class="container">
        <div class="row">
            <section class="col-lg-7 col-md-6 col-12" id="event-left">
                <h1>DEMO 
                        WORKSHOP</h1>
                <ol>
                    <li>
                        <h5>Change your Motive</h5>
                        <p>A 30-40 minutes demo class will be given to motivate students toward realising their dream.</p>
                    </li>
                    <li>
                        <h5> Feel this Zeal</h5>
                        <p>A brief introduction to course is given such that they can realize its importance and give their feedback.</p>
                    </li>
                </ol>
            </section>
            
            <section class="col-lg-offset-1 col-lg-5 col-md-6 col-12" id="event-right">
                    <div id="event-right-empty1"></div>
                    <div id="event-right-empty2"></div>
                    <img src="../../../assets/event.jpg" class="img-fluid">
            </section>
        </div>
    </div>
</article>

<article id="workshop" class="container-fluid">
        <div class="container">
            <div class="row">
                <section class="col-lg-7 col-md-6 col-12" id="workshop-left">
                    <h1>WORKSHOP AND EVENTS</h1>
                    <h5>T2B Incubation Program (TIP)</h5>
                    <p class="text-muted">A one to four days of intensive at the heart of our process. Participants will solve a major problem on a real product offering or program - no toy problems here. You will gain extensive practice in Prototype Thinking and a deeper understanding of how to delight your Career. Many of these resources are amplified and focused in The 
                        <strong>T2B Incubation Program.</strong></p>
                </section>
                <section class="col-lg-offset-1 col-lg-5 col-md-6 col-12" id="workshop-right">
                    <div id="workshop-right-empty1"></div>
                    <div id="workshop-right-empty2"></div>
                    <img src="../../../assets/workshop.jpg" class="img-fluid">
                    
                </section>
            </div>
        </div>
    </article>
<article class="container-fluid" id="whywe">
    <div class="container">
        <section class="row text-center" id="whywe-head">
            <div class="col-12">
                <h1>WHY WE</h1>
                <p class="itallic text-muted">A whole new community for students, teachers, tech-lovers, entreprenures and upcomming leaders</p>
                <p class="text-muted">Robotics is increasingly being considered as the fourth “R” of learning, “Reading, wRriting and aRithmatic” that modern-day students must understand to succeed in a highly competitive, technology-driven world. Robotics integrates all STEM fields in way no other subject can cover. Robotics is the mother of all subjects. It integrates mechanical, electrical, electronics, control engineering, computer science, technology, math and science.</p>
            </div>
        </section>
        <section class="row whywe-card">
            <div class="col-md-6 col-12 whywe-card-image">
                <img src = "../../../assets/chart1.png" class="img-fluid">
            </div>
            <div class="col-md-6 col-12 whywe-card-detail">
                <h1><span>26%</span> indian students</h1>
                <p class="text-muted"> are proficient in Mathematics and Physics and are interested in STEM career. </p>
            </div>
        </section>
        <section class="row whywe-card">
            <div class="col-md-6 col-12 whywe-card-image">
                <img src = "../../../assets/chart2.png" class="img-fluid">
            </div>
            <div class="col-md-6 col-12 whywe-card-detail">
                <h1><span> 2 / 1000 </span> comes up</h1>
                <p class="text-muted"> with an idea that student could scale up , upright at their childhood age. </p>
            </div>
        </section>
        <section class="row whywe-card">
            <div class="col-md-6 col-12 whywe-card-image">
                <img src = "../../../assets/chart3.png" class="img-fluid">
            </div>
            <div class="col-md-6 col-12 whywe-card-detail">
                <h1><span> STEM </span> based Learning</h1>
                <p class="text-muted"> in order to solve real-life problems. In general, its key solution lies in its instructions and enablers. </p>
            </div>
        </section>
    </div>
</article>


<article class="container" id="about">
    <section class="row text-center" id="about-head">
        <div class="col-12">
            <h1>ABOUT</h1>
            <p class="text-muted">Explore Ourselves. Here is why we came up with T2B.</p>
        </div>
    </section>
    <section class="row" id="about-built">
        <div class="col-md-7 col-12">
            <h1> THINK-2-BUILT </h1>
            <p class="text-muted">Think 2 built is a venture started by a team of robotics enthusiasts, for spreading the knowledge among student community about science & robotics in project based learning method. It is to bring up new opportunities in the field of automation robotics, develop new innovative ideas which could be to helpful to reduce social economic problems in the world. Think 2 built dedicatedly works for the betterment of our future coming generation’s understanding and knowledge about robotics and automation.</p>
        </div>
        <div class="col-md-5 col-12 col-offset-1">
            <div id="about-image-empty"></div>
            <img src="../../../assets/about.PNG" id="about-image"class="img-fluid">
        </div>
    </section>
    <section class="row text-center" id="about-story-head">
        <div class="col-12">
            <h5>OUR STORY</h5>
            <p class="italic text-muted">Some glimps that we have shared our community and knowledge with across everyone.</p>
            <p class="text-muted"> Our motto is to provide a environment where anyone can come up with the ideas & build it by himself in the form of “charge lab”. We offer guidance, tools & space where they can come & work whenever they like. We offer different opportunities to school students to bring up with great skills and ideas related to any technical stream and also there to provide solutions and training for basic and advance robotics.Vision: To develop a lab where new innovative ideas could be developed for betterment of the world.</p>
        </div>
    </section>
    <section id="about-story-timeline">
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015-2016</h4>
                                <h4 class="subheading">Thought of T2B Education Org.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A stepping stone was setup, when we encountered Robotics verses Life Learning Skills.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2016</h4>
                                <h4 class="subheading">Born of T2B Edu. Org.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Company sets up office in NCR by the name of Think2Built Education Org.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2016</h4>
                                <h4 class="subheading">Came in Association with VIPNET </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">By seeing our dedication and a team to led this up, VIPNET gave a platform to let T2B take it furthure. </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <h4 class="text-center" id="about-story-timeline-end">BE PART OF OUR STORYLINE!</h4>
    </section>
</article>
<article class="container-fluid"  id="team">
    <div class="container">
        <section class="row" id="team-head">
            <div class="col-12">
                <h1 class="text-center">OUR TEAM. MEET US</h1>
            </div>
        </section>
        <section class="row text-center" id="team-member">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/tm1.jpg" class="img-fluid">
                <h4>Ashish Gupta</h4>
                <p class="text-muted">Director, T2B</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/tm2.jpg" class="img-fluid">
                <h4>Ujjwal Baranwal</h4>
                <p class="text-muted">Chief Executive Officer</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/tm3.jpg" class="img-fluid">
                <h4>Abhinavan Sharma</h4>
                <p class="text-muted">Chief Technical Officer</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/tm4.jpg" class="img-fluid">
                <h4>Siddhant S Goral</h4>
                <p class="text-muted">Chief Marketing Officer</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </section>
    </div>
</article>
<article class="container" id="clients">
    <section class="row">
        <div class="col-md-3 col-sm-6 col-6">
            <img src="../../../assets/client1.jpg" class="img-fluid">
        </div>
        <div class="col-md-3 col-sm-6 col-6">
            <img src="../../../assets/client2.jpg"  class="img-fluid">
        </div>
        <div class="col-md-3 col-sm-6 col-6">
            <img src="../../../assets/client3.jpg"  class="img-fluid">
        </div>
        <div class="col-md-3 col-sm-6 col-6">
            <img src="../../../assets/client3.jpg"  class="img-fluid">
        </div>
    </section>
</article>

<article class="container-fluid" id="contact">
   <div class="container">
        <section class="row text-center">
            <div class="col-12">
                <h1>CONTACT US</h1>
                <p class="text-muted">We are friendly and avaliable to chat. Reach out to us anytime and we'll hapily answer your question</p>
                <h3>WE'RE HERE TO HELP!</h3>
                <div>
                    <button data-toggle="modal" data-target="#request">REQUEST A DEMO</button>
                    <button data-toggle="modal" data-target="#feedback">FEEDBACK</button>
                </div>
                <p>Our Customer Services provides support and guidence for any query regarding this Organisation.
                        They also provide assistance in your learning phase of Robotics wheather your are a school student or college student.</p>
                <br>
                <h5>CONNECT WITH US:</h5>
                <p>We like to work with people who want to create new oppertunities for Children, something big even if its outrageously insane. The quality of products we
                    deliver is unmatchable. To help grow your children's knowledge and personality as well, connect with us.</p>
                <p>You can give us a call on <span><i class="fa fa-phone"></i> +91-7053831001</span> or 
                    <span><i class="fa fa-phone"></i> +91-8233990027</span>
                <br><br>Or email us at  <span><i class="fa fa-email"></i> think2built@gmail.com</span> </p>
            </div>
        </section>
   </div>
</article>

<!-- Request Modal -->
<div class="modal fade" id="request" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="modal-style">
                <h2>Request a Demo</h2>
                <h3>Take a Tour in your Schools or Locality for this Fun Learning Experience</h3>
                <p>Fill out the following form and we will set you up with a free demo of Think2uilt Demonstration.
                    We are convinced that you will quickly see yourself all of benifits your organisation will
                    gain from our competitive information tools.</p>


                <!--Form Starts-->
                <form class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="name" class="form-control" id="name" placeholder="Enter Full Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="Enter Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="company" class="form-control" id="company" placeholder="Enter Conpany Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="add1" class="form-control" id="add1" placeholder="Enter Address Line 1">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="add2" class="form-control" id="add2" placeholder="Enter Address Line 2">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="city" class="form-control" id="city" placeholder="Select City">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="state" class="form-control" id="state" placeholder="Select State">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="postal" class="form-control" id="postal" placeholder="Enter Postal Code">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="mobile" class="form-control" id="mobile" placeholder="Enter Mobile Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label><input type="checkbox"> I opt in to to receive email / text message from think2built.</label>
                            </div>
                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#e2e2e2;">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#ffc500;">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Feedback Modal -->
<div class="modal fade" id="feedback" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="modal-style">

                <h2>Feedback Form</h2>
                <h3>Thank you for being a part in this journey in making Education generous.</h3>
                <p>Your Feedback helps us to understand what we do well and where we can improve. </p>


                <!--Form Starts-->
                <form class="form-horizontal" action="index.php" method="post">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="name" class="form-control" id="name" placeholder="Enter Full Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="Enter Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <p style="padding:0px;">Please Describe your Experience</p>
                            <label class="radio-inline">
                            <input type="radio" name="optradio">Excellent
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="optradio">Good
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="optradio">Neutral
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="optradio">Poor
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="optradio">Very Poor
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="3" id="comment" placeholder="Additional Comment" style="width:100% !important;"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#e2e2e2;">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:#ffc500;">Submit</button>
            </div>
        </div>
    </div>
</div>


<article class="container">

</article>




